<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>
        <record id="action_project_project_all" model="ir.actions.act_window">
            <field name="name">项目</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">cisp.project.project</field>
            <field name="view_mode">tree,form</field>
        </record>
        <record id="action_project_business_category" model="ir.actions.act_window">
            <field name="name">业务类型</field>
            <field name="res_model">cisp.project.business.category</field>
            <field name="view_mode">tree</field>
        </record>

        <!-- This Menu Item will appear in the Upper bar, That's why It needs NO parent or action -->
        <menuitem id="menuitem_project_root" name="项目" sequence="30" groups="cisp_project.group_user"/>
        <!-- This Menu Item Must have a parent -->
        <menuitem id="menuitem_project_manager" name="项目管理" parent="menuitem_project_root" sequence="30" groups="cisp_project.group_user"/>
        <menuitem id="menuitem_project_project" name="项目" parent="menuitem_project_manager" sequence="5" action="action_project_project_all"/>

        <menuitem id="menuitem_project_process" name="项目流程表单" parent="menuitem_project_root" sequence="40" groups="cisp_project.group_user"/>

        <menuitem id="menuitem_project_config" name="设置" parent="menuitem_project_root" sequence="100" groups="cisp_project.group_admin"/>

        <menuitem id="menuitem_project_business_category_config" name="业务类型" parent="menuitem_project_config" sequence="3"
                action="action_project_business_category"/>
    </data>
</openerp>